"version": 1
"control-service":
   "hostname": "{{ cluster_hostname }}"
   "port": 4524

dataset:
   backend: "aws"
   region: "eu-west-1>"
   zone: "us-west-1c>"
   access_key_id: "<AWS API key identifier>"
   secret_access_key: "<Matching AWS API key>"
